root: required
services:
    - docker

before_install:
    - docker build -t acestojcevski/docker-react .

script:
    - docker run -d acestojcevski/docker-react

deploy:
    provider: elasticbeanstalk
    region: "eu-west-1"
    app: "docker-react"
    env: "DockerReact-env"
    bucket_name: "elasticbeanstalk-eu-west-1-412518749962"
    bucket_path: "docker-react"
    on:
        branch: master
    access_key_id: $AWS_ACCESS_KEY 
    secret_access_key:
        secure: "$AWS_SECRET_KEY"